
<div class="page">
    
    <div class="navBar" style="width: 100%; height: 10vh; background: #66717E; border: 1px white solid">
        <div class="navBarTitle">
            <h1>See Dashboard</h1>
            

            <div class="namePicture" style="display: flex;justify-content:center; align-items:center; gap:20px">
                <h2>{{name}}  -Level:  {{level}}</h2>
                <img src="{{picture}}" alt="profile picture">
            </div>
        </div>
    </div>
    

    <div class="achivements" style="width: 100%; height: 45vh; background: #66717E; border: 1px white solid">
        <h1 style="font-size: 2em; margin-top:5px; text-align:center"> Overview </h1>

        <div class="overviewContent">
            <p class="accountText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

            <div style="width: 40%; height: 30vh; background: #383B53; border-radius: 40px;  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            ">                
                
            </div>


            <div class="pieChart"></div>


        </div>

    </div>
    
    <div class="monthlyQuest" style="width: 100%; height: 42vh; background: #383B53; border: 1px white solid">

        <h1 style="font-size: 2em; margin-top:5px; text-align:center">3-month Progress</h1>

        <div class="monthRow" style="display:flex; gap:2vw; margin-left:2.5vw">
            <div class="month">Last Month</div>
            <div class="month">This Month</div>
            <div class="month">Next Month</div>

        </div>
    </div>
    
</div>