*{
    color: white !important;
}

.navBar{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
}


.navBarTitle{
    width: 100%; 
    height: 100%;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vw;
}

#navDash:hover{
    cursor: pointer;
}

h1,h2{
    color: white; 
    text-align: left;
    font-size: 1em; 
}


img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 30px;
}


.accountText{
    width: 30vw;
}


.overviewContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


.pieChart {
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
    background: conic-gradient(#124928 0.00% 50%, #997404 50.00% 85% , #7b275f 85% 100%);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hole{
    background-color: #17082e;
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.month{
    background-color: black;
    width: 30vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid rgba(90, 90, 245, 0.75);;

}



#radarChart{
    width: 30vw;
    height: 30vh;
    box-shadow: 0px 0px 5px 0px rgb(162, 158, 158);
    border-radius: 50%;
    background-color: #17082e;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scrollable{
    width: 95vw;
    height: 30vh;
    margin-top: 10px;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 0px rgb(162, 158, 158);
    background-color: #17082e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.progress{
    margin-left: 2.5vw;
    margin-right: 3.5vw;
    margin-top: 30px;
}

.progress-bar{
    height: 20px;
}