<div class="page" style="display: flex; justify-content: center; align-items: center;">
  <div class="card border-primary mb-3" style="width: 30rem; margin-top: 2rem">
    <div class="card-body">
      <form [formGroup]="signUpForm">
        <fieldset>
          <h4 class="card-title">Sign up</h4>
          <!-- Trebuie schimbat de fapt in login :))) -->
          <div class="form-group">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
            </div>
            <label for="accountName" class="form-label mt-4">Account Name</label>
            <input type="text" class="form-control" id="accountName" placeholder="Enter your account name" required formControlName="accountName">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" formControlName="password">
          </div>
          <div class="form-group">
            <label for="firstName" class="form-label mt-4">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="lastName" class="form-label mt-4">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" formControlName="lastName">
          </div>
          <div class="form-group">
            <label for="organization" class="form-label mt-4">Organization</label>
            <input type="text" class="form-control" id="organization" placeholder="Enter your organization" formControlName="organization">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Login</button>
          &nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary " (click)="onSignUpClick()">Sign Up</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>